#fileman a { display:block; cursor:pointer; cursor:hand; font-family:arial; text-decoration:underline; font-size:12px; }
#fileman div { margin-left:20px;border:1px solid red }

#fileman .projects {  }
#fileman .project { display:block }
#fileman .directory {   }
#fileman .file{  }

#fileman .closed { display:none; }	
#fileman .opened { display:block; }