#file-manager a { display:block; cursor:pointer; cursor:hand; font-family:arial; text-decoration:underline; font-size:12px; }
#file-manager div { margin-left:20px;border:1px solid red }

#file-manager .projects {  }
#file-manager .project { display:block }
#file-manager .directory {   }
#file-manager .file{  }

#file-manager .closed { display:none; }	
#file-manager .opened { display:block; }