#fileman a { display:block; cursor:pointer; cursor:hand; font-family:arial; text-decoration:underline; font-size:12px; }
#fileman div { margin-left:20px;}

#fileman .projects { font-weight:bold; }
#fileman .project { display:block;font-weight:bold;color:blue }
#fileman .directory { font-weight:bold;color:blue  }
#fileman .file{  }

#fileman .closed { display:none; }	
#fileman .opened { display:block; }

#fileman-menu { position:absolute;border:3px solid silver;background-color:#eee;padding:8px;display:none; }