#fileman a { display:block; cursor:pointer; cursor:hand; font-family:arial; text-decoration:none; font-size:12px; }
#fileman a:hover { text-decoration:underline; }
#fileman div { margin-left:20px;}
#fileman a.ainline { display:inline; }

#fileman .projects { font-weight:bold; }
#fileman .project { display:block;font-weight:bold;color:blue }
#fileman .directory { font-weight:bold;color:blue  }
#fileman .file{  }

#fileman .closed { display:none; }	
#fileman .opened { display:block; }

#fileman-menu { position:absolute;border-top:1px solid gray;border-right:2px solid gray;border-bottom:2px solid gray;border-left:1px solid gray;background-color:#eee;display:none; }
#fileman-menu a { display:block;cursor:pointer;cursor:hand;text-decoration:none;padding:1px 3px; }
#fileman-menu a:hover { background-color:silver; }
