/* global */
body {background:white;font-family:monospace;font-size:13px;margin-left:32px;white-space:pre;background-image:url("linenumbers.gif");background-repeat:repeat-y;background-position:0 3px;}
html>body{background-position:0 2px;}
P {margin:0;padding:0;border:0;outline:0;display:block;white-space:pre;}

/* language specific (html) */
b,i,s,em,u {display:inline;font-size:12px;font-weight:normal;text-decoration:none;letter-spacing:1px}
b {color:#000080;} /* tags */
i, i b, i s, i em, i u {color:silver;} /* comments */
s, s b {color:#0000ff;} /* attributes */
em {color:#800080;font-style:normal;} /* style */
u {color:#800000;text-decoration:none;} /* script */

